<div class="container">
    <h1>chart</h1>
    <canvas id="line" class="chart chart-line" chart-data="data"
            chart-labels="labels" chart-series="series" chart-options="options"
            chart-dataset-override="datasetOverride" chart-click="onClick">
    </canvas>
</div>
<!--<h3>Stores</h3>-->
<!--<table class="table-striped">-->
    <!--<thead>-->
    <!--<th>id</th>-->
    <!--<th>nombre tienda</th>-->
    <!--<th>Telefono</th>-->
    <!--<th>Direccion</th>-->
    <!--<th>estado</th>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr ng-repeat="row in stores">-->
        <!--<td>{{row.id_store}}</td>-->
        <!--<td>{{row.name}}</td>-->
        <!--<td>{{row.phone}}</td>-->
        <!--<td>{{row.address}}</td>-->
        <!--<td>{{row.state}}</td>-->
    <!--</tr>-->
    <!--</tbody>-->
<!--</table>-->