<div>
    <div class="sidebar-header">
        <a ui-sref="home" ui-sref-active="active">
            <h3>M A N G O</h3>
            <!--<span>MNG</span>-->
            <strong><h4>MNG</h4></strong>
        </a>
    </div>

    <ul class="list-unstyled components">
        <li ng-if="hasRole('Admin_App') || hasStore()">
            <a ui-sref="asignements" ui-sref-active="active">
                <i class="glyphicon glyphicon-search"></i>
                Asignaciones
            </a>
        </li>
        <!--<li ng-if="authenticated">-->
            <!--<a ui-sref="chart" ui-sref-active="active">-->
                <!--<i class="glyphicon glyphicon-signal"></i>-->
                <!--chart-->
            <!--</a>-->
        <!--</li>-->
        <li ng-if="hasRole('Admin_App') || hasStore()">
            <a ui-sref="schedule" ui-sref-active="active">
                <i class="glyphicon glyphicon-calendar"></i>
                Proyección
            </a>
        </li>
        <li class="active" ng-if="hasRole('Admin_App')">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                <i class="glyphicon glyphicon-cog"></i>
                Configuración
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a ui-sref="users" ui-sref-active="active">
                        Usuarios
                    </a>
                </li>
                <li>
                    <a ui-sref="roles" ui-sref-active="active">
                        Roles
                    </a>
                </li>
                <li>
                    <a ui-sref="stores" ui-sref-active="active">
                        Tiendas
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!--<ul class="list-unstyled CTAs">-->
    <!--<li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a></li>-->
    <!--<li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a></li>-->
    <!--</ul>-->
</div>