<div class="container">
    <div class="row">
        <h3>Roles</h3>
        <table ng-table="roles" class="table" show-filter="true">
            <tr ng-repeat="row in $data">
                <td title="'Id'" filter="{ IdRol: 'number'}" sortable="'IdRol'">
                    {{row.IdRol}}
                </td>
                <td title="'Nombre'" filter="{ Name: 'text'}" sortable="'Name'">
                    {{row.Name}}
                </td>
                <td title="'Descripción'" filter="{ Description: 'text'}" sortable="'Description'">
                    {{row.Description}}
                </td>

            </tr>
        </table>
    </div>
    <div class="row">
        <h3>Nuevo Rol</h3>
        <form ng-submit="addRol(rol)" class="form-horizontal">
            <div class="form-group">
                <input class="form-control form-control-lg" type="text" ng-model="rol.name" placeholder="Nombre"
                       required>
            </div>
            <div class="form-group">
                <input class="form-control form-control-sm" type="text" ng-model="rol.description"
                       placeholder="Description" required>
            </div>
            <div class="form-group">
                <input type="checkbox" ng-model="showStores" ng-change="showHide()"> Asociar con una tienda?
            </div>
            <div class="form-group" ng-show="isVisible">
                <select class="form-control form-control-sm" ng-model="selectedStore.id_store" ng-options="store.id_store as store.name for store in stores" required></select>
            </div>

            <button type="submit" class="btn btn-info navbar-btn">Guardar</button>
        </form>
    </div>
</div>