<div>
    <div class="col-md-6">
        <angucomplete-alt id="ex1"
                          placeholder="Digite el nombre..."
                          pause="100"
                          selected-object="selectedSeller"
                          selected-object-data="SellerName"
                          local-data="sellers"
                          search-fields="SellerName"
                          title-field="SellerName"
                          minlength="3"
                          input-class="form-control form-control-small">


    </div>
    <!--<div class="col-md-6">-->
        <!--<input type="text" ng-model="name">-->
    <!--</div>-->
</div>