<div ng-switch="authenticated">
    <div ng-switch-when="true">
        <div class="row">
            <div class="col-md-6">
                <h4>Tiendas</h4>
                <div class="btn-group btn-group-lg" role="group" aria-label="...">
                    <button type="button" ng-click="switchStore('todas')" class="btn btn-info">Todas</button>
                    <button type="button" ng-click="switchStore('Chapinero')" class="btn btn-info">Chapinero</button>
                    <button type="button" ng-click="switchStore('Colina')" class="btn btn-info">Colina</button>
                    <button type="button" ng-click="switchStore('Multiplaza')" class="btn btn-info">Multiplaza</button>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Rango fecha</h4>
                <form class="form-inline" ng-submit="range(start,end)">
                    <label class="sr-only" for="inlineFormInputName2">Fecha inicio</label>
                    <input type="date" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" ng-model="start" required>


                    <label class="sr-only" for="inlineFormInputGroupUsername2">Fecha fin</label>
                    <div class="input-group mb-2 mr-sm-2">
                        <input type="date" class="form-control" id="inlineFormInputGroupUsername2" ng-model="end" required>
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="submit"><i class="glyphicon glyphicon-filter"></i></button>
                        </span>
                    </div>
                    <button class="btn btn-info" type="button" ng-click="loadAsignements()"><i class="glyphicon glyphicon-refresh"></i></button>
                </form>
            </div>
        </div>
        <div class="row">
            <table ng-table="tableParams" class="table" show-filter="true">
                <tr ng-repeat="row in $data">
                    <td title="'Fecha'" sortable="'DateShift'">
                        {{row.DateShift.split('T')[0] }}
                    </td>
                    <td title="'Vendedor'" filter="{ SellerName: 'text'}" sortable="'SellerName'">
                        {{row.SellerName}}
                    </td>
                    <td title="'Turno'" filter="{ WorkTime: 'text'}" sortable="'WorkTime'">
                        {{row.WorkTime}}
                    </td>
                    <td title="'Estado'" filter="{ State: 'text'}" sortable="'State'">
                        {{row.State}}
                    </td>
                    <td title="'Tienda'" filter="{ Store: 'text'}" sortable="'Store'">
                        {{row.Store}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div ng-switch-when="false">
        <div class="alert alert-info" style="text-align: center">
            <span>Acceda haciendo login</span>
        </div>
    </div>
</div>